
<script>
    jQuery(document).ready(function() {
        function debouncer( func , timeout ) {
            var timeoutID , timeout = timeout || 1000;
            return function () {
                var scope = this , args = arguments;
                clearTimeout( timeoutID );
                timeoutID = setTimeout( function () {
                    func.apply( scope , Array.prototype.slice.call( args ) );
                } , timeout );
            }
        }
        var offset = 300;
        var duration = 500;
        var fadeFunc = function () {
            if (jQuery(window).width() < 1140) {
                jQuery('.backtotop').fadeOut(0);
                return;
            }
            if (jQuery(window).scrollTop() > offset) {
                jQuery('.backtotop').fadeIn(duration);
            } else {
                jQuery('.backtotop').fadeOut(duration);
            }
        }
        jQuery(window).scroll(debouncer(fadeFunc, 50));
        jQuery(window).resize(debouncer(fadeFunc));

        jQuery('.backtotop').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        })
    });
</script>
<style>
    .backtotop {
        display: none;
    }
    @media only screen and (min-width:1140px){
        .backtotop,
        .backtotop:hover,
        .backtotop:active,
        .backtotop:visited,
        .backtotop:focus {
            display: none;
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 10000;
            text-align: center;
            color: black;
            text-decoration: none;
            padding: 4px 10px;
            border-radius: 3px;
            width: 60px;
            opacity: 0.4;
        }
        .backtotop:hover {
            background-color: rgba(59, 59, 59, 0.10);
            opacity: 1;
            transition-property: opacity;
            transition-duration: 500ms;
        }
    }


</style>
<a href="#" class="backtotop"><img src="/assets/noun_Arrow_22173.svg"/></a>